<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write a New Interpretation</title>
    <link rel="stylesheet" th:href="@{/css/editing.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/animatedObjects.css}">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

</head>
<body>
<div class="moon-wrapper">
    <div class="moon"></div>
</div>
<div class="stars">
</div>
<div class="cloud cloud1"></div>
<div class="cloud cloud2"></div>
<div class="sky-star">
    <div class="shooting-star1"></div>
    <div class="shooting-star2"></div>
    <div class="shooting-star3"></div>
</div>
<div class="dream-wrapper">
    <p>Add a new interpretation</p>
    <form th:action="@{/interpretations/add}" method="post" th:object="${interpretation}">
        <div class="form-group">
            <label for="name"></label>
            <input type="text" id="name" th:field="*{interpretationName}" placeholder="Interpretation name..." required>
        </div>
        <div class="form-group">
            <label for="type"></label>
            <textarea id="type" th:field="*{type}" placeholder="What type of interpretation?" required></textarea>
        </div>
        <button type="submit">Save</button>
    </form>
    <a th:href="@{/user-own-page}" class="back-link">Back to admin menu</a>
</div>
</body>
</html>
